@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Rubik+Gemstones&family=Workbench&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

:root {
    --primary: #DEAA79;
    --secondary: #659287;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: "Open Sans", serif;
    padding: 20px;
    background-color: var(--secondary);
}

p {
    margin: 20px 0;
}
h1 {
    margin-bottom: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
}

nav a.active {
    background-color: var(--primary);
}

.container {
    max-width: 1200px;
    margin: 30px auto;
}

main {
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

#help-layout nav {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
}

#help-layout nav a {
  border: 2px solid #fff;
  padding: 6px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}

#faq .question {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    border-radius: 4px;
    margin: 15px 0;
}

form label {
    margin-bottom: 5px;
}

form input, form label, form textarea {
    display: block;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    width: 100%;
    color: #000;
}

button {
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background: var(--primary);
    cursor: pointer;
}

.card {
    display: flex;
    gap: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card img {
    border-radius: 5px;
}

.card a {
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background: var(--primary);
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
    font-size: 12px;
}

.course-desc {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.icons {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

#error {
    text-align: center;
}

.errors {
    list-style-type: none;
    margin-bottom: 10px;
}

.errors li {
    color: #FFEB00;
}